extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='POST' action='/apply')
    div.form-group
      label(for='name') Namn:
      input#name.form-control(type='text', placeholder='för och efternamn', name='name')
    div.form-group
      label(for='email') E-post:
      input#email(type='text', placeholder='för och efternamn', name='email')
    div.form-group
      label(for='age') Ålder:
      input#age(type='text', placeholder='för och efternamn', name='age')
    div.form-group
      label(for='salary') Årsinkomst:
      input#salary(type='text', placeholder='för och efternamn', name='salary')
    button.btn.btn-primary(type='submit') Skicka
